/* Este es un comentario en CSS */
/*ANDREA MARILI GAXIOLA GONZALEZ GRUPO: 4BPM */
/* DAW Fecha: 17 DE MARZO DEL 2024*/
/*A continuacion le APLICAMOS CSS a la actividad10.html desde un archivo css actividad10.css*/
h1{
    color: #D8B51A; 
    font-size: 42px;
}
p{
   color:  #9A9D9E;
}
h2{
    color: #D8B51A;
}
   
ul{
    color: #9A9D9E;
    list-style: none;
}
 table{
    color: #9A9D9E;
    display: flex;
    justify-content: center;
    align-items: center;
 }  
th{
    color: #D8B51A;
}
 ol{
    color: #9A9D9E;
    list-style: none;
 }  
.infimp{
    display: flex;
    margin:0 0 0 200px;
}     
.imgvolando{
    width: 750px;
    height: 550px;
}
.continfop{
    width: 80%;
    margin: 0 0 0 70px
} 
.imglibros{
    margin: 0 150px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
/*estilos generales de los botones*/
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none;
    color: #000;
    padding: 10px 25px;
    font-size: 25px;
    border: 3px solid black;
    position: relative;
    transition: all 1s;
    margin: 30px;
  }
  a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
  }
  a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
  }
  a:hover::before{
    transform: rotateX(0deg);
    
  }
  a:hover::after{
    transform: rotateY(0deg);
  }
  a:hover{
    color: #fff;
   
  }
